.container-form form {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-top: 10px;
}

.container-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Wrapper com a largura do form */
.form-wrapper {
  width: min(90vw, 400px);
}

.container-radio {
  display: flex;
}

.container-radio div {
  padding: 10px;
}

form label {
  color: #ebc181;
  font-weight: bold;
  margin-bottom: 5px;
}
form input {
  border-radius: 10px;
  border: 3px solid #333b1e;
  padding: 10px;
  margin-bottom: 10px;
  transition: 0.5s;
}

form input[type="file"] {
  color: #ffffff;
}

form input::file-selector-button {
  padding: 5px;
  border-radius: 5px;
  border: none;
}

form input:focus {
  border: 3px solid #ebc181;
  outline: none;
}
